asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.6.15
charset-normalizer==2.1.0
dj-database-url==1.0.0
Django==4.0.6
django-heroku==0.3.1
django-ip-geolocation==1.6.1
django-user-agents==0.4.0
gunicorn==20.1.0
idna==3.3
Jinja2==3.1.2
MarkupSafe==2.1.1
Pillow==9.2.0
psycopg2==2.9.3
requests==2.28.1
sqlparse==0.4.2
tzdata==2022.1
ua-parser==0.15.0
urllib3==1.26.10
user-agents==2.2.0
whitenoise==6.2.0
